@charset "UTF-8";
/* ------------------------------------------------------------------- */
/* ----------- CSS DOCUMENT - WRITTEN BY PATRICK JONES --------------- */
/* ----- ALL DESIGN AND CSS IS COPYRIGHT INK AUSTRALASIA PTY LTD ----- */
/* ---- FOR INFORMATION PLEASE CONTACT INFO@INKADVERTISING.COM.AU ---- */
/* ------------------------------------------------------------------- */
/* -----------------------UPDATED 08/01/10---------------------------- */
/* ------------------------------------------------------------------- */


/* Main Navigation Styles */

#navigation										{ float:left; margin:0; padding:0; }
#navigation li									{ float:left; display:inline; width:100px; height:123px; color:#FFF; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
	#navigation li:hover a 						{ color: #58b8d4; }
	
	.dash										{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-10px -148px; }
	.dash:hover									{  background-image:url(../images/sprite-layout-and-buttons.png); background-position:-130px -148px; }
	.dash-selected								{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-130px -148px; }
	
	
	.stats										{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-10px -291px; }
	.stats:hover								{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-130px -291px; }
	.stats-selected								{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-130px -291px; }
	
	.system										{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-10px -434px; }
	.system:hover								{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-130px -434px; }
	.system-selected							{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-130px -434px; }
	
	.users										{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-10px -577px; }
	.users:hover								{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-130px -577px; }
	.users-selected								{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-130px -577px; }
	
	.pages										{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-10px -720px; }
	.pages:hover								{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-139px -720px; }
	.pages-selected								{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-139px -720px; }
	
	.files										{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-10px -863px; }
	.files:hover								{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-130px -863px; }
	.files-selected								{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-130px -863px; }
	
	.modules									{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-10px -1006px; }
	.modules:hover								{ background-image:url(../images/sprite-layout-and-buttons.png); background-position:-130px -1006px; }
	/*#navigation .modules:hover a				{ color: #383737; }*/
	#navigation .modules ul a						{ color: #FFF; }
	#navigation .modules ul a:hover					{ color: #58b8d4; }
	/*#navigation .modules a:hover				{ color: #383737; }*/
	
	#navigation a								{ color: #FFF; text-decoration:none; float:left; text-align:center; width:100px; padding:80px 0 15px 0; font-family:Arial, Helvetica, sans-serif !important; }
	#navigation a:hover							{ color: #58b8d4; }
	
				
/* --- End --- */


/* Sub Navigation Styles */

.subnav								{ margin:0; padding:0; }
	.subnav li						{ list-style-image:none; display:block; background-image:url(../images/sprite-dash-bg.png); background-position:0px -10px; height:43px; margin:0; border-bottom:1px solid #afaeae; font-size:13px; color:#3f3f3f; }
	.subnav li.red:hover			{ list-style-image:none; display:block; background-image:url(../images/sprite-dash-bg.png); background-position:0px -295px; }
	.ie7 .subnav li					{ margin-bottom:-3px; }
	.subnav li:hover				{ list-style-image:none; display:block; background-image:url(../images/sprite-dash-bg.png); background-position:0px -295px; }
	.subnav img						{ float:left; margin-left:15px; margin-right:14px; margin-top:-3px; border:none; }
	.subnav a						{ color:#3f3f3f; float:left; width:100%; margin:0; padding:12px 0 9px 0; }
	.subnav a:hover					{ color:#000; }
	
/* --- End --- */	


#module-picker ul {
	margin:0;
	padding:0;
	background: #171717;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom:1px solid #565044;
	border-left:1px solid #565044;
	border-right:1px solid #565044;
	display:none;	
	list-style:none outside none;
	padding-bottom:10px;
	padding-top:10px;
	position:absolute;
	top:149px;
	margin-left:2px;
	width:150px;
	z-index:1001;
}

.ie7 #module-picker ul {
	margin-left:-99px;

}

#navigation #module-picker ul li { margin:0; padding:0; float:left; width:100%; height:43px; color:#FFF; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px;  }
#navigation #module-picker ul li:hover {background:#333333; height:43px; }


#module-picker ul li a { width:100%; text-align:left; font-size: 11px; line-height: 43px; padding:0; }

#module-picker:hover { }
.modules:hover #module-picker ul { display: block; }
.modules:hover #module-picker ul { display: block; }

#module-picker ul img {
	border:none;
	float:left;
	padding-top:8px;
	margin-right:10px;
	margin-left:15px;
}









#settings-picker ul {
	margin:0;
	padding:0;
	background: #FFF;
	
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	color:#666;
	font-size:11px;
	
	
	display:none;
	list-style:none outside none;
	position:absolute;
	top:36px;
	margin-left:-11px;
	width:150px;
	z-index:1001;
}

#settings-picker ul:before {
background: url("https://css.createsend1.com/img/topPoint.png") no-repeat 125px 0px;
content:"";
height:9px;
display:block;
position:absolute;
top:-9px;
width:100%;
}




.ie7 #settings-picker ul {
	margin-left:-99px;

}

#global #settings-picker ul li { margin:0; padding:0; float:left; width:100%; color:#666; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; border-top:1px solid #ccc;  }

#global #settings-picker ul li:first-child { border:none; }



#global #settings-picker ul li:hover {background: -moz-linear-gradient(center top, #39acec, #4cbefe 5%, #279ada); border-radius:0; }

#global #settings-picker ul li:first-child:hover { border-radius: 3px 3px 0 0; }

#global #settings-picker ul li:last-child:hover { border-radius: 0 0 3px 3px; }


#global #settings-picker ul li a { width:100%; text-align:left; font-size: 11px; line-height: 35px; padding:0; float:left; color:#666; text-shadow:none; }

#global #settings-picker ul li a:hover { color:#FFF; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

#settings-picker:hover { }
.system:hover #settings-picker ul { display: block; }
.system-selected:hover #settings-picker ul { display: block; }

.systembutton:hover #settings-picker ul { display: block; }


#settings-picker ul img {
	border:none;
	float:left;
	padding-top:11px;
	margin-right:7px;
	margin-left:10px;
}		